@{
    ViewData["Title"] = "Ultimate";
}

<div class="text-center">
    <h1 class="display-4">Becoming a Disc-iple</h1>
    <img src="~/images/screenshot 2024-02-09 133844.jpg" style="width: 45%;" />
    <img src="~/images/screenshot 2024-02-09 133938.jpg" style="width: 45%;" />
    <br />
    <p>Hi! My name is Teigen Burrows. I have been playing ultimate frisbee for the last 5 years, starting in high school and now in college. 
        I absolutely love the sport as well as all of the amazing people I've become friends with since starting out. Ultimate isn't the most well known, so 
        it creates a strong community with its players. We are all connected by our love of throwing around a plastic plate!
    </p>
    <p>Unlike conventional team sports, Ultimate Frisbee combines the grace of aerial maneuvers with the strategic prowess of team dynamics, all while fostering a sense 
        of camaraderie that transcends the field. Picture this: a sun-drenched afternoon, a field spread out before you like a canvas, and a flying disc whizzing through the air. 
        Welcome to the world of Ultimate Frisbee. At its core, Ultimate Frisbee is a fast-paced, non-contact sport played with a flying disc, commonly known as a Frisbee. The objective? 
        Simple: work with your teammates to score points by catching the disc in the opposing team's end zone. What sets Ultimate apart 
        is its emphasis on self-officiation and the spirit of the game. Players uphold the principles of fair play, honesty, and mutual respect, making it 
        a sport not just of athleticism but also of integrity.
    </p>
    <p>One of the most captivating aspects of Ultimate Frisbee is its accessibility. You don't need fancy equipment or years of training to join in the fun. 
        All you need is a willingness to run, jump, and, of course, throw a disc. Whether you're a seasoned athlete or a newcomer to sports, Ultimate offers 
        something for everyone. Plus, the community surrounding Ultimate is as diverse as it is welcoming, with players of all ages and backgrounds coming together 
        to share their love for the game. So, whether you're looking for a new way to stay active, a chance to meet like-minded individuals, or simply an opportunity to experience the joy of flight, 
        give Ultimate Frisbee a try. Who knows? You might just find yourself hooked!
    </p>
</div>
